<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>confirmation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
<style>
.btn {
    text-decoration: none;
}
</style>
</head>

<body style="font-family: Rubik, sans-serif;">
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Virlea</a></div>
    </nav>
    <!-- End: Navigation Clean -->
    <div class="container">
        <h1 style="font-family: Rubik, sans-serif;">Congratulations</h1>
        <h3>Activation of Account Successful !</h3><img class="cong" src="{% static 'assets/img/icons8-confetti.svg' %}">
        <a href="" class="mybtn"><span>Continue</span><i class="fa fa-angle-right"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>